body {
  background-color: aliceblue;
}

.canvas {
  border: 5px solid white;
  display: block;
}

canvas.canvas2 {
  color: green;
  z-index: 2;
}

#container {
  height: 500px;
  width: 500px;
  position: relative;
  border: 5px solid white;
}

#fruit {
  height: 50px;
  width: 50px;
  background-color: green;
  position: absolute;
  left: 0;
}
